<div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
        <ng-content select="h3"></ng-content>
        <label>
            Email Address:
            <input type="email" name="email" ngModel #email>
        </label>
        <label>
            Password:
            <input type="password" name="password" ngModel>
        </label>
        <ng-content select="app-auth-remember"></ng-content>
        <app-auth-message [style.display]="(showMessage?'inherit':'none')"></app-auth-message>
        <!-- //viewchildren logic -->
        <!-- <app-auth-message [style.display]="(showMessage?'inherit':'none')"></app-auth-message>
        <app-auth-message [style.display]="(showMessage?'inherit':'none')"></app-auth-message> -->
        <div *ngIf="showMessage">You will be logged in for 30 days</div>
        <ng-content select="button"></ng-content>
    </form>
</div>

